* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: center;
    background: linear-gradient(120deg, #00008B, #8B008B);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo {
    width: 100%;
    max-width: 540px;
    background-color: #b9aeb9;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b9aeb9;
    border-radius: 35px;
    padding-left: 25px;
    margin-bottom: 30px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: #fff;
    /* padding: 10px; */
    font-weight: 14px;
    padding: 14px;
    border-radius: 50px;
    width: 100%;
    /* border-radius: 12px; */
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: coral;
    color: #3f0909;
    font-size: 16 px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
}